.bannerMiddle {
    background-image:url("/assets/BannerSegmentMiddle.png"), linear-gradient(90deg, rgba(23,53,78,1) 50%, rgba(12,20,37,1) 100%);
    background-size:100% 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    image-rendering: crisp-edges;
}

.banner {

}

.bannerSide {
    height:100%;
}